# Godot-specific
.import/
.export/
*.tmp
*.log
*.import
*.mono
.mono/
mono/

# OS-specific
.DS_Store
Thumbs.db

# Editor-specific
*.user
*.sublime-workspace
*.sublime-project
*.vscode/

# Compiled scripts
*.pyc